# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Larissa\OneDrive\Documentos\GUSP-teste\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
out/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr